# Supabase
NEXT_PUBLIC_SUPABASE_URL=22333
NEXT_PUBLIC_SUPABASE_ANON_KEY=2323232323
SUPABASE_SERVICE_ROLE_KEY=232442435223525252

# Encryption
AES_ENCRYPTION_KEY=your-32-byte-hex-aes-key

# Optional
NEXT_PUBLIC_SITE_URL=http://localhost:3000
